page-films {


  /* Settings Text Footer
  ================================*/
  p , a{
    color: rgb(12, 12, 12);
    font-family: ff-yoga-web-pro, Georgia, serif;
    font-size: 18px;
    text-rendering: optimizelegibility;
    }


}
